services:
  postgres:
    image: postgres:17.6-trixie
    ports:
      # Run on 5433 to avoid conflicts
      - 5433:5432
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
      start_interval: 5s
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
